/data/data.csv
/data/dataV2.csv
/data/dataV3.csv
/dataWeekDay.csv
/data/data_constructed.csv
/data/dataV4.csv
/data/df3csv.csv
/app.py
/data/big_data.csv
/maildir/
/__pycache__/
/data

*.pyc
/data/data_afc_job_job_extern_final.csv
/data/data_annova_job_time_response.csv
/data/data_constructed_job.csv
/data/data_job.csv
/data/data_complete.csv
