/data/data.csv
/data/dataV2.csv
/data/dataV3.csv
/dataWeekDay.csv
/data/data_constructed.csv
/data/dataV4.csv
/data/df3csv.csv
/app.py
/data/big_data.csv
/maildir/
/__pycache__/
/data
*.pyc
*.pyc
brouillon/__pycache__/test2.cpython-38.pyc
dash/__pycache__/anova_strenght_job.cpython-38.pyc
dash/__pycache__/anova_time_answer_job.cpython-38.pyc
dash/__pycache__/introduction.cpython-38.pyc
