/data/data.csv
/data/dataV2.csv
/data/dataV3.csv
/dataWeekDay.csv
/data/constructedData.csv
/data/dataV4.csv
/data/df3csv.csv
/app.py
/data/big_data.csv
/maildir/
/__pycache__/
/data_complete.csv
/data/data_constructed.csv
/data/
